
<h2>Welcome <%= current_user.name %></h2>

<div class="row user-info">
  <aside class="col-md-4">
   <h3>Profile information: </h3>
    <ul>
     <li>Name:  <%=current_user.name%>  </li>
     <li>Email: <%=current_user.email%></li>
     <li>admin?: <%=current_user.admin%></li>
    </ul>
  </aside>
</div>


<div class="action-menu">
<h3>Action Menu </h3>
  <ul>
  <li><%= link_to 'Create a New Post',new_user_post_path(current_user) %></li>
  <br>
  <li> <%=link_to 'Create A Budget', new_budget_path %> </li>
  <li> <%=link_to 'View All Budgets', budgets_path %> </li>
  <br>
  <li> <%=link_to 'Create A Receipt', new_user_receipt_path(current_user) %> </li>
  <li> <%=link_to 'View All Receipts', user_receipts_path(current_user) %> </li>
  <br>
  <li> <%= link_to 'Delete Account', user_path(current_user), method: "delete", data:{ confirm: "are you sure ?"} %> </li>  

  </ul>
</div>


<% if @user.posts.any? %>
  <div class="main">    
  <h3>Posts :</h3>
  <%= render partial: 'posts/post', collection: @user.posts %>
  </div>
<% end %>
    
