
<h2>Welcome <%= current_user.name %></h2>

<div class="row user-info">
  <aside class="col-md-4">
   <h3>Profile information: </h3>
    <ul>
     <li>Name:  <%=current_user.name%>  </li>
     <li>Email: <%=current_user.email%></li>
     <li>admin?: <%=current_user.admin%></li>
    </ul>
  </aside>
</div>

<div class="action-menu">
<h3>Action Menu </h3>
<ul>
<li><%= link_to 'Create a New Post', new_post_path %></li>
<li> <%= link_to 'Delete Account', user_path(current_user), method: "delete" %> </li>
</ul>
</div>
    
<div class="main">    
<h3>Posts :</h3>
<%= render partial: 'posts/posts' %>
   
</div>

    
