   
    <div class= "row">
     <div class="col-md-6 col-md-offset-3 ">
          <%= form_for @post do |f| %>
          
          <fieldset>
         
           <%= f.label :date  %>
           <%= f.date_field :date, class: 'form-control' %>
        
           <%= f.label :description %>
           <%= f.text_area :description, class: 'form-control' %>
        
           <%= f.label :images %>
           <%= f.file_field :images, multiple: true %>
           <br>
            <%= f.label "select a file to delete:" %>
          <% @post.images.each do |img| %>
          <div class="img-box">
            <%= image_tag img.variant(resize: "100x100") %>
            <%= check_box_tag "post[images_to_delete][]", img.id %>
            </div>
            </p>
          <% end unless @post == nil %>
      <%# end of image code %>
           <br>
           <%= f.submit %>
           <% end %>
            </fieldset>
      </div>
    </div>
