   
    
          <%= form_for [current_user, @post]   do |f| %>
          <%= render partial:'shared/error_messages', locals:{:item => @post} %>
           <%= f.label :title  %>
           <%= f.text_field :title, class: 'form-control' %>
        
           <%= f.label :description %>
           <%= f.text_area :description, class: 'form-control' %>
        <%# start of image code %>
           <%= f.label :images %>
           <%= f.file_field :images, multiple: true %>
           <br>
            <%= f.label "select a file to delete:" %>
          <div class="img-box">
          <% @post.images.each do |img| %>
            <%= image_tag img.variant(resize: "100x100") %>
            <%= check_box_tag "post[images_to_delete][]", img.id %>
          <% end unless @post == nil %>
           </div>
      <%# end of image code %>
           <br>
           <%= f.submit "Submit Post"%>
           <% end %>


