
   
 

<div class= "row show_container">
   <div class="col-md-6 col-md-offset-3 show">
   <legend>Posts:</legend>
   <% if current_user? @user %>
      <h6> 
            <%=link_to 'Add A New Post', new_user_post_path(current_user) %> 
        | | <%=link_to 'Edit Post', edit_user_post_path(current_user,@post) %>
        | | <%=link_to 'Delete  Post', user_post_path(current_user,@post), method: 'delete'%>
    </h6>
    <%end%>
        <ul class="description">
            <li>Title: <%= @post.title %> </li>
            <li>Description: <%= @post.description %> </li> 
        </ul>
            <h6>Images:</h6> 
            <div class="img-box"> 
             <%@post.images.each do |img| %>
                <%= image_tag img.variant(resize: "200x200") %>
                <p class="small"> <%= link_to 'Download', rails_blob_path(img, disposition:"attachment") %> </p>   
                <%end%>
            </div>         
   </div>
</div>   


 