
<div class="show-post">
<p > <%= @post.description %> 
 <% @post.images.each do |img| %>
  <div class="img-box">
     <%= image_tag img.variant(resize: "200x200") %>
     <p class="small"> <%= link_to 'Download', rails_blob_path(img, disposition:"attachment") %> </p>
     </div>
     </p>
  <% end %>
 
</div>

<div class ="show-aside">
    <ul class="small">
        <h3>Action Menu</h3>
        <li> <%= link_to  'Create Post', new_user_post_path(current_user) %></li>
        <li> <%= link_to  'Edit Post', edit_user_post_path(current_user,@post) %></li>
        <li> <%= link_to  'Delete  Post', user_post_path(current_user,@post), method: 'delete'  %></li>
    </ul>
</div>
