<div class="submit_form">
<h2>Login Form:</h2> 
<%= form_tag "/users" do  %>
<%=label_tag 'user[email]', "Email:" %>
<br>
<%= text_field_tag 'user[email]' %>
<br>
<%=label_tag 'user[password]', "Password" %>
<br>
<%= password_field_tag 'user[password]' %>
<br>
<%= submit_tag :submit%>
<% end %>

</div>