
<header class="navbar  navbar-fixed-top navbar-inverse">
        <nav>  
          <ul class="nav navbar-nav navbar-right">
            <li> <%= link_to "", root_path, class:"glyphicon glyphicon-home",title:"Home" %> </li>
        <%if logged_in? %>
            <li> <%= link_to '', user_path(current_user),class: "glyphicon glyphicon-list-alt", title:"Profile Page" %>Profile Page</li>
            <li> <%= link_to '', users_path,class: "glyphicon glyphicon-user", title: "Users" %> </li>
            <li> <%= link_to '', edit_user_path(current_user),class:"glyphicon glyphicon-cog", title: "Settings" %></li>
            <li><%= link_to '', logout_path, method: :delete,class: "glyphicon glyphicon-off", title:"LogOut" %></li>  
          <% else %>
            <li> <%= link_to "Sign Up!", new_user_path, class: "glyphicon",title:"Sign Up!" %></li>
            <li> <%= link_to  "Log-in", login_path, class: "glyphicon", title:"Log-in" %> </li>
            <li> <%= link_to "Log-in with Github", "/auth/github",class: "glyphicon", title:"Log-in with Github"%></li>
             <% end %>
          </ul> 
        </nav>
      </header>