<!DOCTYPE html>
<html>
  <head>
    <title>Shoebox</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
       <%# universal fixed menu  %>
      <%= render 'layouts/header' %>
     </div>

      <div>
        <%= render 'shared/error_messages_flash' %> 
      </div>
    
     <div> 
      <%= yield %>
     </div>
    
     <div>
        <%= render 'layouts/footer' %>
     </div>

    <div>
        <% debug(params) if Rails.env.development? %> 
    </div>
  
  </body>
</html>
